<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home | Mispot</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style type="text/css">
      body {
        background-image: url("/dark.jpg");
        background-size: 100%;
      }
      hr {
        margin: 6px;
      }
      button {
        margin-left: 8px;
        text-decoration: none;
        color: #753;
        border-collapse: true;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
      }
      body {
        background-color: #151515;
        background-repeat: no-repeat;
      }
      nav {
        background: center;
      }
      .col-lg-6 {
        padding-top: 5px;
      }
      #VE {
        border: 1px solid limegreen;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="background-color: #e8f6e8 !important"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <a
          class="navbar-brand"
          href="http://localhost:8080/home"
          style="font-family: 'Courier New', monospace; font-weight: bold"
          >MiSpot</a
        >
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="http://localhost:8080/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">help</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <br />
    <div id="Update">
      <div class="row container">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3>Seller's Profile</h3>
            </div>
            <div class="card-body">
              <h5>Current Genuinity Index: <%=gi%></h5>
              <hr />
              <p>Expand your Catalog</p>
              <button type="button" class="btn btn-lg btn-block btn-dark">
                ADD
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 style="position: relative">Dashboard</h3>
            </div>
            <div class="card-body">
              <div>
                <% if((arr[0]===0)||(arr[1]===0)||(arr[2]===0)||(arr[3]===0))
                {%>
                <span style="color: red; font-weight: bold; position: absolute"
                  >&bull;</span
                >
                <% } %>
                <button id="Orders" onclick="Page()">Your Orders</button>
              </div>
              <hr />
              <div>
                <button>Return Requests</button>
              </div>
              <hr />
              <div>
                <button>Unshipped</button>
              </div>
              <hr />
              <div>
                <button>Sold</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="hell"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      function Page() {
        location.replace(`http://localhost:8080/products/`);
      }
    </script>
  </body>
</html>
