<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Verify | Mispot</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styleSecond.css" />
    <style type="text/css">
      body {
        background-image: url("/dark.jpg");
        background-size: 100%;
      }
      hr {
        margin: 6px;
      }
      a {
        margin-left: 8px;
        text-decoration: none;
        color: #aaaaaa;
      }
      body {
        background-color: #151515;
        background-repeat: no-repeat;
      }

      video {
        display: block;
      }

      section {
        opacity: 1;
        transition: opacity 500ms ease-in-out;
      }
      .removed {
        display: none;
      }

      .invisible {
        opacity: 0.2;
      }

      .camView {
        position: relative;
        float: left;
        width: calc(100% - 20px);
        margin: 10px;
        cursor: pointer;
      }

      .camView p {
        position: absolute;
        padding: 5px;
        background-color: rgba(255, 111, 0, 0.85);
        color: #fff;
        border: 1px dashed rgba(255, 255, 255, 0.7);
        z-index: 2;
        font-size: 12px;
      }

      .highlighter {
        background: rgba(0, 255, 0, 0.25);
        border: 1px dashed #fff;
        z-index: 1;
        position: absolute;
      }
    </style>
  </head>
  <body onload="done()">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="background-color: #e8f6e8 !important"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <a
          class="navbar-brand"
          href="http://localhost:8080/home"
          style="font-family: 'Courier New', monospace; font-weight: bold"
          >MiSpot</a
        >
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="http://localhost:8080/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">help</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <br />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <div
      class="spinner-border text-light"
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        align-self: center;
      "
      id="gif"
      role="status"
    >
      <span class="sr-only"></span>
    </div>
    <div id="roll"></div>
    <section id="demos" class="invisible" style="visibility: hidden">
      <h3 style="text-align: center; color: white">
        <span id="score">0</span>% Matched with <span id="str2"><%=str%></span>
      </h3>
      <div id="liveView" class="camView">
        <button
          class="btn btn-outline-light"
          id="webcamButton"
          style="
            color: black;
            size: 1.5em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            padding: 5px 5px 5px 5px;
            background-color: #e8f6e8;
            margin: 1px solid grey;
          "
        >
          Enable Webcam
        </button>
        <video
          id="webcam"
          autoplay
          width="640"
          height="480"
          style="display: block; margin-left: auto; margin-right: auto"
        ></video>
      </div>
    </section>
    <p style="visibility: hidden" id="id"><%=id%></p>
    <script
      src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
    <script type="text/javascript">
      const video = document.getElementById("webcam");
      const liveView = document.getElementById("liveView");
      const demosSection = document.getElementById("demos");
      const enableWebcamButton = document.getElementById("webcamButton");
      function getUserMediaSupported() {
        return !!(
          navigator.mediaDevices && navigator.mediaDevices.getUserMedia
        );
      }
      if (getUserMediaSupported()) {
        enableWebcamButton.addEventListener("click", enableCam);
      } else {
        console.warn("getUserMedia() is not supported by your browser");
      }
      function enableCam(event) {
        if (!model) {
          return;
        }
        enableWebcamButton.remove();
        event.target.classList.add("removed");
        const constraints = {
          video: true,
        };
        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(function (stream) {
            video.srcObject = stream;
            video.addEventListener("loadeddata", predictWebcam);
          });
      }
      var h = 0;
      var model = true;
      var model = undefined;
      cocoSsd.load().then(function (loadedModel) {
        document.getElementById("gif").remove();
        model = loadedModel;
        demosSection.classList.remove("invisible");
      });
      var children = [];
      let score = document.getElementById("score");
      function predictWebcam() {
        model.detect(video).then(function (predictions) {
          for (let i = 0; i < children.length; i++) {
            liveView.removeChild(children[i]);
          }
          children.splice(0);
          for (let n = 0; n < predictions.length; n++) {
            var match = document.getElementById("str2").innerText;
            if (match === predictions[n].class)
              score.innerText = `${parseInt(predictions[n].score * 100)}`;
            if (predictions[n].score > 0.66) {
              let ss = predictions[n].score * 100;
              ss = parseInt(ss);
              const p = document.createElement("p");
              hii = document.getElementById("webcam");
              sty = getComputedStyle(hii);
              p.innerText = predictions[n].class;
              p.style =
                "margin-left: " +
                (predictions[n].bbox[0] + parseInt(sty.marginLeft)) +
                "px; margin-top: " +
                (predictions[n].bbox[1] - 10) +
                "px; width: " +
                (predictions[n].bbox[2] - 10) +
                "px; top: 0; left: 0;";
              const highlighter = document.createElement("div");
              highlighter.setAttribute("class", "highlighter");
              highlighter.style =
                "left: " +
                (predictions[n].bbox[0] + parseInt(sty.marginLeft)) +
                "px; top: " +
                predictions[n].bbox[1] +
                "px; width: " +
                predictions[n].bbox[2] +
                "px; height: " +
                predictions[n].bbox[3] +
                "px;";
              if (p.innerText === match) {
                if (ss > h) {
                  h = ss;
                }
                document.getElementById("roll").innerHTML =
                  '<form id="dynForm" method="POST"><input id="ipt" name="score" value="0" type="hidden"></form>';
                document.getElementById("ipt").value = h;
                document.getElementById("dynForm").submit();
                throw new Error("Waiting for the server");
              }
              liveView.appendChild(highlighter);
              liveView.appendChild(p);
              children.push(highlighter);
              children.push(p);
            }
          }
          window.requestAnimationFrame(predictWebcam);
        });
      }
      function done() {
        document.getElementById("roll").innerHTML = " ";
        document.getElementById("demos").style.visibility = "visible";
      }
    </script>
  </body>
</html>
